body{
    font-family: 'Poppins', sans-serif;
}

span{
    color:tomato;
}
h1{
    font-size: 50px;
}
.link-button{
    text-decoration: none;
    background-color: firebrick;
    padding: 10px 40px;
    border-radius: 15px;
    width-font:700;
}
.flexible-container{
    display: flex;
}